@import 'open-props/style';

:root {
  /* open-props design tokens */
  --dark: var(--gray-10);
  --lighter-dark: var(--gray-9);
  --lightest-dark: var(--gray-8);
  --light: var(--stone-1);
  --darker-light: var(--stone-3);
  --darkest-light: var(--stone-4);

  /* app properties */
  --accent-color: var(--green-9);
  --accent-color-alt: var(--green-8);
  --normal-weight: var(--font-weight-4);
  --bold-weight: var(--font-weight-7);
  --font-sizing: 1rem;
  --font-sizing-small: var(--font-size-0);
  --font-sizing-medium: var(--font-size-4);
  --font-sizing-large: var(--font-size-3);
  --font-sizing-xl: var(--font-size-5);
  --spacing-size-xs: var(--size-2);
  --spacing-size-s: var(--size-3);
  --spacing-size: var(--size-4);
  --spacing-size-l: var(--size-7);
  --spacing-size-xl: var(--size-10);
  --border-radius: var(--radius-2);
  --content-width: var(--size-content-3);
  --content-width-xs: var(--size-content-1);
  --content-width-s: var(--size-content-2);
  --sidebar-width: var(--size-13);
  --border-radius: var(--radius-2);
  --border-size: var(--border-size-1);
  --editor-controls-height: var(--spacing-size-xl);
}

html[data-theme='light'] {
  --primary-color: var(--light);
  --primary-color-alt: var(--darker-light);
  --primary-color-alt-2: var(--darkest-light);
  --secondary-color: var(--dark);
  --secondary-color-alt: var(--lighter-dark);
  --danger-color: var(--red-9);
}

html[data-theme='dark'] {
  --primary-color: var(--dark);
  --primary-color-alt: var(--lighter-dark);
  --primary-color-alt-2: var(--lightest-dark);
  --secondary-color: var(--light);
  --secondary-color-alt: var(--darker-light);
  --danger-color: var(--red-6);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: var(--normal-weight);
  line-height: var(--font-lineheight-5);
}

main {
  margin: var(--spacing-size-xl);
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

a {
  color: var(--secondary-color);

  &:hover {
    color: var(--blue-6);
    text-decoration: underline;
  }
}

button {
  border: none;
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: solid 1px var(--secondary-color);
  outline-offset: -1px;
}

/* CSS reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  10. Remove ul default padding
 */
ul {
  padding: 0;
}
