.container {
  max-width: calc(var(--content-width) * 1.5);
  padding: var(--spacing-size-l) 0;
  margin: auto;
  display: flex;
  gap: var(--spacing-size);
}

.frontMatter {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xs);
  width: var(--size-fluid-10);
  padding: var(--spacing-size-xs);
}

.date {
  font-size: var(--font-sizing-small);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-size-xs);
}

.tag {
  font-size: var(--font-sizing-small);
  padding: var(--size-1);
}
