.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--radius-round);
  padding: calc(var(--spacing-size-xs) * 1.25);
  background-color: inherit;
  color: inherit;
}

.button:hover {
  background-color: var(--primary-color-alt);
}

.button.alt {
  background-color: var(--secondary-color-alt);
  color: var(--primary-color);
  border-radius: var(--radius-2);
  width: 85%;
  margin: auto;
}
