docker
node_modules
.git
.cache
docker*

.gitignore
push-image.sh
Dockerfile
**/*.md
/content/*.json
.env*
.vscode
.next
.dockerignore
*.DS_Store
**/.DS_Store
.DS_Store
docker-compose.*
*.db

# Include the default settings and example post
!/content/settings.json
!/content/posts/syntax-examples.md