.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-size-xs);
}

.editor {
  flex: 2.5;
}

.editorControls {
  height: var(--spacing-size-l);
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-size-s);
  margin-bottom: var(--spacing-size);
}

.publishButton {
  color: var(--secondary-color-alt);
  background-color: inherit;
  padding: 5px;
}

.publishButton:hover {
  color: var(--light);
  background-color: var(--accent-color);
}

.sidebarButton {
  transform: rotate(180deg);
  color: var(--secondary-color-alt);
  background-color: inherit;
  padding: var(--spacing-size-xs);
}

.sidebarButton.open {
  background-color: var(--accent-color);
  color: var(--light);
  border: none;
  border-radius: var(--border-radius);
}

.frontmatter {
  padding: var(--spacing-size);
  background-color: var(--primary-color);
  border: solid var(--border-size) var(--primary-color-alt-2);
  height: fit-content;
  flex: 1;
}

.frontmatter.hidden {
  display: none;
}

div.error {
  color: var(--danger-color);
  font-size: var(--font-sizing-small);
  font-style: italic;
}
