.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
}

.editor {
  flex: 2;
}

.editorControls {
  background-color: var(--clr-bg-1);
  display: flex;
  height: var(--spacing-xl);
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-small);
  position: sticky;
  top: 0;
}

.publishButton {
  color: var(--clr-fg-1);
  background-color: inherit;
  padding: 5px;
}

.publishButton:hover {
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

.sidebarButton {
  transform: rotate(180deg);
  color: var(--clr-fg-1);
  background-color: inherit;
  padding: var(--spacing-xs);
}

.sidebarButton.open {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border: none;
  border-radius: var(--border-radius);
}

.frontmatter {
  padding: var(--spacing-medium);
  background-color: var(--clr-bg-1);
  border: solid var(--border-size) var(--clr-bg-3);
  height: fit-content;
  flex: 1;
  position: sticky;
  top: var(--spacing-xl);
}

.frontmatter.hidden {
  display: none;
}

div.error {
  color: var(--clr-danger);
  font-size: var(--font-small);
  font-style: italic;
}
