.group {
  display: flex;
  flex-direction: column;
  /* background-color: var(--primary-color-alt); */
  border: none;
  border-radius: var(--border-radius);
}

.actions {
  display: flex;
  flex-direction: row;
  border: solid 1px var(--primary-color-alt-2);
}

/* 
EDITOR/PREVIEW TOGGLE BUTTONS 
*/
.toggleControls {
  display: flex;
  flex: 0.5;
  border-right: solid 1px var(--primary-color-alt-2);
}

.toggleControls button {
  background-color: inherit;
  /* background-color: var(--primary-color-alt); */
  color: var(--secondary-color-alt);
  padding: var(--spacing-size-xs);
  flex: 1;
}

.toggleControls button:hover {
  text-decoration: underline;
  font-weight: var(--bold-weight);
}

.toggleControls button:focus-visible {
  outline: solid var(--border-size-2) var(--secondary-color);
}

.toggleControls button.active {
  background-color: var(--primary-color-alt-2);
  font-weight: var(--bold-weight);
  color: var(--secondary-color);
  text-decoration: underline;
}

/*
RICH TEXT CONTROLS
*/
.rteControls {
  display: flex;
  flex: 1;
}

.rteButton {
  background-color: inherit;
  color: inherit;
  padding: var(--spacing-size-s);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex: 1;

  &:hover {
    background-color: var(--primary-color-alt-2);
  }

  & > svg {
    --icon-size: 1rem;
    height: var(--icon-size);
    width: var(--icon-size);
  }

  & > div {
    margin: 0;
    padding: 0;
    font-size: var(--font-sizing-small);
  }
}

/*
TEXTAREA INPUT
*/
.textareaContainer {
  display: grid;
  white-space: pre-wrap;
}

.textareaContainer::after {
  content: attr(data-content) ' ';
  white-space: pre-wrap;
  visibility: hidden;
}

.textarea {
  min-height: var(--content-width-s);
  resize: none;
  overflow: hidden;
}

.textareaContainer::after,
.textarea {
  border: none;
  background-color: inherit;
  /* background-color: var(--primary-color-alt); */
  color: var(--secondary-color);
  padding: var(--spacing-size);
  grid-area: 1 / 1 / 2 / 2;
}

.textarea:focus {
  outline: solid var(--border-size) var(--secondary-color);
  outline-offset: -1px;
}

/*
CONTENT PREVIEWER
*/
.previewArea {
  /* background-color: var(--primary-color-alt); */
  /* height: 100%; */
  padding: var(--spacing-size);
}

.previewPlaceholder {
  color: var(--secondary-color-alt);
}

/*
ERROR STYLES
*/
.textarea.error {
  outline: solid var(--border-size) var(--danger-color);
}

div.error {
  color: var(--danger-color);
  font-size: var(--font-sizing-small);
  font-style: italic;
}
