.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xs);
  justify-content: space-between;
}

.group input {
  background-color: var(--primary-color-alt);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-size-xs);
}

.group input:focus {
  outline: solid var(--border-size) var(--secondary-color);
  outline-offset: -1px;
}

input.title {
  background-color: inherit;
  border-radius: 0;
  font-size: var(--font-sizing-xl);
  padding-inline: var(--spacing-size);
  font-weight: var(--bold-weight);
}

input.error {
  outline: solid var(--border-size) var(--danger-color);
}

div.error {
  color: var(--danger-color);
  font-size: var(--font-sizing-small);
  font-style: italic;
}
