.button {
  background-color: inherit;
  border-radius: var(--radius-round);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacing-size-xs) * 1.25);
}

.button:hover {
  background-color: rebeccapurple;
}

html[data-theme='light'] .button {
  color: var(--dark);
}

html[data-theme='light'] .button:hover {
  background-color: var(--darker-light);
}

html[data-theme='dark'] .button {
  color: var(--light);
}

html[data-theme='dark'] .button:hover {
  background-color: var(--lighter-dark);
}
