.article {
  margin: var(--spacing-large) 0;
  position: relative;
}

.article:not(:first-child)::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing-small) * -1);
  height: 1px;
  width: 100%;
  background-color: var(--clr-fg-2);
}

.title a {
  text-decoration: none;
}

.title a:hover {
  color: var(--clr-accent);
}

.byline {
  color: var(--clr-fg-2);

  .span {
    margin: 0 var(--spacing-xs);
  }
}
