.container {
  max-width: var(--content-width);
  margin: auto;
}

.frontMatter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-large);
  text-align: center;
}

.title {
  font-size: var(--font-xl);
}

.byline {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.bylineItem {
  color: var(--clr-fg-2);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.tag {
  font-size: var(--font-small);
  padding: var(--size-1);
  background-color: var(--clr-accent);
  border-radius: var(--border-radius);
  color: var(--clr-light);
}

.post {
  padding-block: var(--spacing-large);
}

@media screen and (max-width: 786px) {
  .container {
    width: auto;
    padding-inline: var(--spacing-large);
  }
}
