.container {
  max-width: var(--content-width);
  margin: auto;
}

.frontMatter {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xs);
  margin-bottom: var(--spacing-size-l);
}

.title {
  font-size: var(--font-sizing-xl);
}

.byline {
  display: flex;
  gap: var(--spacing-size-xs);
  align-items: center;
}

.bylineItem {
  color: var(--secondary-color-alt-2);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-size-xs);
}

.tag {
  font-size: var(--font-sizing-small);
  padding: var(--size-1);
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  color: var(--light);
}

.post {
  padding-block: var(--spacing-size-l);
}
