.article {
  --preview-border: solid var(--border-size) var(--primary-color-alt-2);
  width: 100%;
  padding-block: var(--spacing-size-s);
  border-top: var(--preview-border);
  border-bottom: var(--preview-border);
}

.article:first-child {
  border-top: none;
  border-bottom: none;
}

.article:last-child {
  border-bottom: var(--preview-border);
  border-top: none;
}

.heading {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-size-xs);
  margin-bottom: var(--spacing-size-xs);
}

.heading a:hover {
  color: var(--accent-color);
}

.details {
  display: flex;
  gap: var(--spacing-size-xs);
  color: var(--secondary-color-alt);
}

.tags {
  margin-left: var(--spacing-size);
  display: flex;
  justify-content: center;
  gap: var(--spacing-size-xs);
}

.tag {
  color: var(--light);
  background-color: var(--accent-color);
  padding: 0.25rem;
  font-size: var(--font-sizing-small);
  border-radius: var(--border-radius);
}

.status {
  margin-top: var(--spacing-size-xs);
  color: var(--light);
  padding: 0.25rem;
  border-radius: var(--border-radius);
  width: fit-content;
  font-size: var(--font-sizing-small);
}

.published {
  background-color: var(--accent-color);
}

.draft {
  background-color: var(--danger-color);
}
