.article {
  --preview-border: solid var(--border-size) var(--clr-bg-3);
  width: 100%;
  padding-block: var(--spacing-small);
  border-top: var(--preview-border);
  border-bottom: var(--preview-border);
}

.article:first-child {
  border-top: none;
  border-bottom: none;
}

.article:last-child {
  border-bottom: none;
  border-top: none;
}

.heading {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.heading a {
  text-decoration: none;
}

.heading a:hover {
  color: var(--clr-accent);
}

.details {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--clr-fg-2);
}

.tags {
  margin-left: var(--spacing-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
}

.tag {
  color: var(--clr-light);
  background-color: var(--clr-accent);
  padding: 0.25rem;
  font-size: var(--font-small);
  border-radius: var(--border-radius);
}

.status {
  color: var(--clr-light);
  padding: 0.25rem;
  border-radius: var(--border-radius);
  width: fit-content;
  font-size: var(--font-small);
}

.published {
  background-color: var(--clr-accent);
}

.draft {
  background-color: var(--clr-danger);
}
