.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  justify-content: space-between;
  margin-bottom: var(--spacing-xs);
}

.input {
  border: none;
  color: var(--clr-fg-1);
}

.input.error {
  outline: solid var(--border-size) var(--clr-danger);
}

.input:disabled {
  color: var(--clr-fg-3);
  cursor: not-allowed;
}

/* Variants */
.input.normal {
  background-color: var(--clr-bg-2);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);
}

.input.borderless {
  background-color: inherit;
  border-radius: 0;
  font-weight: var(--weight-bold);
}

/* Sizes */
.small {
  padding: var(--spacing-small);
}

.medium {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-medium);
}

.large {
  padding: var(--spacing-medium);
  font-size: var(--font-xl);
}
