.group {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.itemInput {
  display: flex;
  gap: var(--spacing-xs);
}

.itemInput input {
  background-color: var(--clr-bg-2);
  color: var(--clr-fg-1);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);
  flex: 1;
}

.itemInput input:disabled {
  cursor: not-allowed;
}

.addButton {
  background-color: var(--clr-bg-2);
  color: var(--clr-fg-1);
  border-radius: var(--border-radius);
}

.items {
  display: flex;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
}

.listPlaceholder {
  color: var(--clr-fg-2);
  font-size: var(--font-small);
  font-style: italic;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  background-color: var(--clr-bg-2);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);
  font-size: var(--font-small);
}

.removeButton {
  background-color: inherit;
  padding: 0;
  color: inherit;
}

input.error {
  outline: solid var(--border-size) var(--clr-danger);
}

div.error {
  color: var(--clr-danger);
  font-size: var(--font-small);
  font-style: italic;
}
