/*
  EDITOR ACTION PANEL
  */
.actions {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-xs);
  background-color: var(--clr-bg-1);
  border: solid 1px var(--clr-bg-3);
}

.actions button {
  background-color: inherit;
  color: var(--clr-fg-1);
  flex: 1;
}

.actions button:hover {
  font-weight: var(--weight-bold);
  background-color: var(--clr-bg-2);
}

.sticky {
  position: sticky;
  top: var(--spacing-xl);
}

/* EDITOR/PREVIEW TOGGLE BUTTONS */
.toggleControls {
  display: flex;
  flex: 0.5;
  border-right: solid 1px var(--clr-bg-3);
}

.toggleControls button.active {
  background-color: var(--clr-bg-2);
  font-weight: var(--weight-bold);
  color: var(--clr-fg-1);
}

/* RICH TEXT CONTROLS */
.rteControls {
  display: flex;
  flex: 1;
}

.rteButton {
  padding: var(--spacing-xs);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex: 1;

  & > svg {
    --icon-size: 1rem;
    height: var(--icon-size);
    width: var(--icon-size);
  }

  & > div {
    margin: 0;
    padding: 0;
    font-size: var(--font-small);
  }
}

/*
  TEXTAREA INPUT
  */

.container {
  max-width: var(--content-width);
  margin: auto;
}

.textareaContainer {
  display: grid;
  white-space: pre-wrap;
}

.textareaContainer::after {
  content: attr(data-content) ' ';
  white-space: pre-wrap;
  visibility: hidden;
}

.textarea {
  min-height: var(--content-width-xs);
  resize: none;
  overflow: hidden;
}

.textareaContainer::after,
.textarea {
  border: none;
  background-color: inherit;
  color: var(--clr-fg-1);
  padding: var(--spacing-medium);
  grid-area: 1 / 1 / 2 / 2;
}

/*
  CONTENT PREVIEWER
  */
.previewArea {
  /* background-color: var(--clr-bg-2); */
  /* height: 100%; */
  padding: var(--spacing-medium);
}

.previewPlaceholder {
  color: var(--clr-fg-2);
}

/*
  ERROR STYLES
  */
.textarea.error {
  outline: solid var(--border-size) var(--clr-danger);
}
