.container {
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.toggleContainer {
  margin: 0;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 25px;
  background-color: var(--clr-bg-2);
  border: none;
  border-radius: 28px;
  transition: background-color 200ms ease-in-out;
}

.toggleContainer.toggled {
  background-color: var(--clr-accent);
}

.toggleIndicator {
  background-color: var(--clr-light);
  flex: 1;
  aspect-ratio: 1/1;
  transition-property: margin;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border: none;
  border-radius: 25px;
}

.toggleIndicator.toggled {
  margin: 0 0 0 25px;
}

.toggleIndicator:not(.toggled) {
  margin: 0 25px 0 0;
}
