.link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: var(--bold-weight);
  font-size: var(--font-size-6);

  &:hover {
    text-decoration: none;
    color: var(--secondary-color);
  }
}
