.nav {
  padding: var(--spacing-size);
  border-bottom: var(--border-size-1) solid var(--secondary-color-light);
  background-color: var(--primary-color);
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: var(--spacing-size);

  a,
  a:hover {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
  }
}
