@import 'open-props/style';

:root {
  --primary-color: var(--stone-1);
  --secondary-color: var(--stone-10);
  --accent-color: var(--green-9);
  --normal-weight: var(--font-weight-4);
  --bold-weight: var(--font-weight-7);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--size-5);
  font-size: 18px;
  font-weight: var(--normal-weight);
}

a {
  color: var(--secondary-color);

  &:hover {
    color: var(--blue-6);
    text-decoration: underline;
  }
}
