@import 'open-props/style';

:root {
  --primary-color: var(--stone-0);
  --secondary-color: var(--stone-10);
  --secondary-color-light: var(--stone-6);
  /* --secondary-color-lighter: var(--stone-3); */
  --accent-color: var(--green-9);
  --normal-weight: var(--font-weight-4);
  --bold-weight: var(--font-weight-7);
  --font-sizing-small: var(--font-size-0);
  --font-sizing-large: var(--font-size-3);
  --font-sizing-xl: var(--font-size-5);
  --spacing-size-xs: var(--size-2);
  --spacing-size-s: var(--size-3);
  --spacing-size: var(--size-4);
  --spacing-size-l: var(--size-7);
  --spacing-size-xl: var(--size-10);
  --border-radius: var(--radius-2);
  --content-width: var(--size-content-3);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: var(--normal-weight);
  line-height: var(--font-lineheight-5);
}

main {
  margin: var(--spacing-size-l);
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

a {
  color: var(--secondary-color);

  &:hover {
    color: var(--blue-6);
    text-decoration: underline;
  }
}

button {
  background-color: var(--accent-color);
  border: none;
  color: var(--primary-color);
  padding: var(--spacing-size-xs);
  border-radius: var(--border-radius);
}

/* CSS reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
