@import 'open-props/style';

:root {
  --primary-color: var(--stone-1);
  --secondary-color: var(--stone-10);
  --accent-color: var(--green-9);
  --normal-weight: var(--font-weight-4);
  --bold-weight: var(--font-weight-7);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--size-5);
  font-size: 18px;
  font-weight: var(--normal-weight);
  line-height: var(--font-lineheight-5);
}

a {
  color: var(--secondary-color);

  &:hover {
    color: var(--blue-6);
    text-decoration: underline;
  }
}

/* CSS reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
