.main {
  text-align: center;
  width: var(--content-width);
  margin: auto;
  margin-top: var(--spacing-size-xl);
}

.main > * {
  margin: var(--size-5) 0;
}

.main img {
  margin: auto;
  width: var(--size-10);
}
