.container {
  width: var(--content-width-s);
  margin: auto;
}

.headingContainer {
  margin-bottom: var(--spacing-size-l);
}

.stepContainer {
  margin: var(--spacing-size-xs) 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-s);
}
