.container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--spacing-large);
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.breadcrumbs {
  display: flex;
}
.breadcrumb:not(:last-child) {
  margin-right: var(--spacing-xs);
}

.breadcrumb:not(:last-child)::after {
  margin-left: var(--spacing-xs);
  content: '/';
}
