.breadcrumbs {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--spacing-size-l);
  transition: padding-top 250ms ease-in-out;
  background-color: var(--primary-color);
}

.breadcrumb:not(:last-child) {
  margin-right: var(--spacing-size-xs);
}

.breadcrumb:not(:last-child)::after {
  margin-left: var(--spacing-size-xs);
  content: '/';
}
