.markdown-wrapper {
  * {
    line-height: 1.75;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: var(--spacing-small);
  }

  p {
    margin-bottom: var(--spacing-small);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul.contains-task-list {
    list-style: none;
  }

  ul,
  ol {
    margin-block: var(--spacing-small);
    padding-left: var(--spacing-medium);
    list-style-position: inside;
  }

  li {
    margin-block: var(--spacing-xs);
  }

  li.task-list-item {
    display: flex;
    align-items: center;
  }

  li:has(input[type='checkbox']:checked) {
    text-decoration: line-through;
    color: var(--clr-fg-3);
  }

  li > input[type='checkbox'] {
    appearance: none;
    background-color: inherit;
    margin: 0;
    margin-right: var(--spacing-xs);
    font: inherit;
    height: 0.75rem;
    width: 0.75rem;
    border: solid var(--border-size) var(--clr-fg-1);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li > input[type='checkbox']:checked::before {
    content: '';
    height: var(--spacing-xs);
    width: var(--spacing-xs);
    background-color: var(--clr-accent);
  }

  pre,
  code,
  blockquote {
    padding: 5px;
    background-color: var(--clr-bg-2);
    border-radius: var(--border-radius);

    p,
    code {
      font-size: 16px;
      text-wrap: wrap;
      color: var(--clr-fg-2);
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: inherit;
    }
  }

  blockquote {
    border-left: 5px var(--clr-fg-3) solid;
  }

  pre:has(code),
  blockquote {
    width: 100%;
    margin-block: var(--spacing-small);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
  }

  hr {
    margin-block: var(--spacing-small);
  }

  table {
    width: 100%;
    margin-block: var(--spacing-small);
    text-align: center;
    border-collapse: collapse;
  }

  thead {
    font-weight: var(--weight-bold);
    background-color: var(--clr-bg-2);
    border-radius: var(--border-radius) 0;
  }

  th:first-child {
    border-top-left-radius: var(--border-radius);
  }

  th,
  td {
    padding: var(--spacing-xs);
    border: solid var(--border-size) var(--clr-bg-3);
  }
}
