.scrollBack {
  position: fixed;
  bottom: var(--spacing-medium);
  right: var(--spacing-medium);
  border: none;
  border-radius: var(--radius-round);
  padding: var(--spacing-xs);
  box-shadow: var(--shadow-2);
  transition: opacity 200ms ease-in-out;
  background-color: var(--clr-fg-2);
  color: var(--clr-bg-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollBack.hidden {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .scrollBack {
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 0;
    padding-block: var(--spacing-small);
    margin-left: 0;
    transition: margin-left 200ms ease-in-out;
  }

  .scrollBack.hidden {
    margin-left: 101dvw;
    opacity: 1;
  }
}
