.base {
  border: none;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

.base:disabled {
  cursor: not-allowed;
}

.circle {
  border-radius: var(--radius-round);
}

.rounded {
  border-radius: var(--radius-2);
}
