form {
  input,
  textarea {
    background-color: var(--primary-color-alt);
    border: none;
    border-radius: var(--radius-2);
    padding: var(--spacing-size-xs);
    color: var(--secondary-color);
  }

  textarea {
    width: 100%;
    padding: var(--spacing-size-s);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--secondary-color-alt);
  }

  input:focus,
  textarea:focus {
    outline: solid var(--secondary-color-alt);
  }

  input:disabled {
    cursor: not-allowed;
  }

  input[type='submit'] {
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: var(--secondary-color-alt);
    color: var(--primary-color-alt);
  }

  .form-group {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-xs);
    /* height: 100%;
    width: 100%; */
  }
}
