.heading {
  display: flex;
  gap: var(--spacing-small);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 35%;
  margin: auto;

  & input {
    padding: var(--spacing-xs);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--clr-bg-2);
    color: var(--clr-fg-1);

    &::placeholder {
      color: var(--clr-fg-2);
    }

    &:focus {
      outline-color: var(--clr-fg-1);
    }
  }

  & input[type='submit'] {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    cursor: pointer;
  }
}

.errorDetails {
  font-style: italic;
  color: var(--clr-danger);
}
