.actionButtons {
  display: flex;
}

.actionButtons button {
  background-color: var(--primary-color-alt);
  color: var(--secondary-color);
  padding: var(--spacing-size-xs);
  border-bottom: solid var(--border-size-2) var(--primary-color);
}

.actionButtons button:first-child {
  border-right: solid var(--border-size-1) var(--primary-color);
}

.actionButtons button:last-child {
  border-left: solid var(--border-size-2) var(--primary-color);
}

.actionButtons button:focus-visible {
  outline: solid var(--border-size-2) var(--secondary-color);
}

.actionButtons button.active {
  font-weight: var(--bold-weight);
  text-decoration: underline;
}

.textarea {
  border-radius: 0;
  background-color: var(--primary-color-alt);
}

.textarea:focus {
  outline-offset: -1px;
}
