.scrollBack {
  position: fixed;
  bottom: 25;
  right: 25;
  border: none;
  border-radius: var(--radius-round);
  padding: var(--spacing-size-xs);
  box-shadow: var(--shadow-2);
  transition: opacity 250ms ease-in-out;
  background-color: var(--secondary-color-alt);
  color: var(--primary-color);
}

.scrollBack.hidden {
  opacity: 0;
}
