.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: var(--sidebar-width);
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid var(--border-size) var(--clr-fg-3);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.list li {
  width: 100%;
}

.itemLink,
.itemLink:hover {
  color: var(--clr-fg-1);
  text-decoration: none;
}

.item {
  width: 100%;
  color: inherit;
  display: flex;
  gap: var(--spacing-xs);
  background-color: inherit;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-small);
  border-radius: var(--border-radius);
}

.item:hover {
  background-color: var(--clr-bg-2);
}

.actions {
  margin-top: 100%;
  border-top: solid var(--border-size) var(--clr-fg-1);
  padding-top: var(--spacing-medium);
}

.buttonContainer {
  display: flex;
  gap: var(--spacing-small);
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 100%;
  padding: var(--spacing-small);
  color: var(--clr-fg-1);
  border-radius: 100%;
}

.button:hover {
  background-color: var(--clr-bg-2);
}
