.nav {
  padding-inline: var(--spacing-size-l);
  height: var(--spacing-size-xl);
  border-bottom: var(--border-size-1) solid var(--secondary-color-alt);
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navHeading {
  font-weight: var(--bold-weight);

  & a {
    text-decoration: none;
  }

  & a:hover {
    color: var(--accent-color);
  }
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: var(--spacing-size);

  .link,
  .link:hover {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    font-size: var(--spacing-size);
  }
}
