.nav {
  padding-inline: var(--spacing-large);
  height: var(--spacing-xl);
  background-color: rgb(from inherit r g b / 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition-property: height border-bottom;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border-bottom: transparent solid 0px;
  height: 4rem;
}

.nav.scrolled {
  backdrop-filter: blur(10px);
  border-bottom: var(--border-size-1) solid var(--clr-fg-2);
}

.heading {
  font-weight: var(--weight-bold);
  text-decoration: none;
}

.heading:hover {
  color: var(--clr-accent);
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: var(--spacing-medium);
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.link.active,
.link:hover {
  color: var(--clr-accent);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav {
    font-size: var(--spacing-medium);
  }
}
