.nav {
  padding-inline: var(--spacing-large);
  height: var(--spacing-xl);
  border-bottom: var(--border-size-1) solid var(--clr-fg-2);
  background-color: var(--clr-bg-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navHeading {
  font-weight: var(--weight-bold);

  & a {
    text-decoration: none;
  }

  & a:hover {
    color: var(--clr-accent);
  }
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: var(--spacing-medium);

  .link,
  .link:hover {
    color: var(--clr-fg-1);
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    font-size: var(--spacing-medium);
  }
}
