.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  padding: var(--spacing-size);
  margin: var(--spacing-size-s);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color-alt);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size);
  align-items: start;
  justify-content: center;
  text-align: left;
}

.list li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.actions {
  margin-top: 100%;
}
