.container {
  text-align: center;
  width: var(--content-width);
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
    margin-inline: var(--spacing-large);
  }
}
