.container {
  width: var(--content-width);
  margin: auto;
}

.hero {
  text-align: center;
}

.social_links {
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
}

.recent_posts {
  margin-top: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.recent_posts > h2 {
  padding-left: var(--spacing-xs);
  margin-block: var(--spacing-xs);
}

.all_posts {
  margin-left: auto;
}

.all_posts > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
    margin-inline: var(--spacing-large);
  }
}
