.main {
  margin-left: var(--sidebar-width);
  margin-bottom: var(--spacing-size-l);
}

.section {
  padding-inline: var(--spacing-size-xl);
}

.buttonContainer {
  display: flex;
  gap: var(--spacing-size-s);
  justify-content: center;
}

.logoutButton {
  background-color: var(--secondary-color);
  color: var(--primary-color-alt);
  padding: var(--spacing-size-s);
}
